/* UNIVERSALS */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
body, html{
	height: 100%;
	background-color: #F7F7F7;
	color: #1A1A1A;
	user-select: none;
	}

h1{
	font-family: 'Oswald', sans-serif;
	}
h2{
	font-family: 'Roboto', sans-serif;
	}


/* HEADER */
header{
	display: flex;
	width: 100%;
	background-color: #8A8A8A;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin: 0 0 20px 0;
	}
#center{
    margin: 0 auto;
	}

/* PRODUCTS */
#product-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 20px;
	padding: 20px;
	}
.product{
	display: flex;
	flex-direction: column;
	background-color: #E3E3E3;
	box-shadow: 2px 2px 10px gray;
	}
.product img{
	padding: 10px;
	height: 100%;
	width: 100%;
	object-fit: cover;
	}
.product h2{
	padding: 0 0 10px 10px;
	}
